<suite name="All" verbose="1">
    <listeners>
        <listener class-name="ch.systemsx.cisd.hdf5.FinalizerFlushListener" />
    </listeners>
    <test name="All">
        <groups>
            <run>
                <exclude name="broken" />
            </run>
        </groups>
        <packages>
            <package name="ch.systemsx.cisd.hdf5.*" />
        </packages>
    </test>
</suite>
